*{
    margin: 0;
    padding: 0;

}
.container{
    width: 1240px;
    margin: 0 auto;
    overflow: hidden;
}
.header1{
    background: url("../image/Rectangle 1.png");
    z-index: 10;
}
.header2{
    display: flex;
    align-items: center;
    column-gap: 600px;
    padding-top: 46px;
}
.header__img{
    margin-left: 30px;
}
.header__a a{
    margin-right: 30px;
    column-gap: 15px;
    text-decoration: none;
    color: white;
}
.header__left h2{
    font-family: 'Merienda', cursive;
    color: white;
    font-size: 72px;
}
.header__left h3{
    margin-left: 250px;
    font-family: 'Merienda', cursive;
    font-size: 64px;
    color: #FFC700;
}
span{
    font-weight: 900;
    font-size: 96px;
    text-shadow: 0 0 2px #fff;
    color: #0A0718;
}
@supports (-webkit-text-stroke: 1px white) {
    span {
        text-shadow: none;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
    }
}

.header__left button{
    width: 230px;
    height: 50px;
    color: white;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border: none;
    border-radius: 60px;
    margin-top: 60px;
    margin-bottom: 88px;

}
.header__center{
    display: flex;
    justify-content: space-around;
    padding-top: 160px;
    align-items: center;
}
.header__right img{
    display: flex;
    flex-direction: column;
}
.header__button{
    position: absolute;
    left: 51.5%;
    top: 100%;
    transform: translate(-50%-50%);
}
.icon{
    position: absolute;
    left: 61%;
    top: 110%;
    transform: translate(-50%-50%);
}


.sec2__box{
    display: flex;
    column-gap: 10px;

}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 250px;
}

.box h3{
    color: rgba(4, 153, 221, 1);
    padding-bottom: 60px;
}
.box p{
    margin-bottom: 60px;
    color: rgba(40, 40, 40, 1);
}
.line{
    background: url("../image/Rectangle 13.png");
}
.like{
    width: 360px;
    height: 497px;
}
.sec2__box{
    color: white;
}
.like h4{
    padding-top: 150px;
    padding-left: 16px;

}
.like h5{
    margin: 3px 111px 10px 16px;
    color: orange;
}
.type{
    display: flex;
    column-gap: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    align-items: center;
}
.top p{
    margin-left: 10px;
    margin-bottom: 20px;
}
button{
    width: 160px;
    height: 40px;
    border-radius: 15px;
    background: rgba(4, 153, 221, 1);
    margin-left: 16px;
}
.time{
    background: url("../image/Rectangle 13 (1).png");
}
.pike{
    background: url("../image/Rectangle 13 (2).png");
}
.pope{
    background: url("../image/Rectangle 13 (3).png")no-repeat;
}
.sec2__center{
    display: flex;
}
.line4{
background: url("../image/Rectangle 13 (3).png");
}
.sec2__bottom{
    padding-top: 60px;
    padding-bottom: 60px;
    column-gap: 20px;
}
.sec2__big{
     display: flex;
    margin-top: 20px;
 }
.sec2__big img{
    margin-left: 30px;
}
.line3{
    margin-top: 22px;
    margin-left: 20px;
    background: blue;
    width: 900px;
    height: 4px;
}

